# OS
.DS_Store

# IDE
.claude/
.cursor/
.dir-locals.el
.idea/
.vscode/
.vim
.zed
.cache/
.clangd
*.*~

# Rust
.cargo-home
target/
/Cargo.lock
integration-tests/Cargo.lock

# Project
acceptance/tests/dat/
/acceptance_workloads/
ffi/examples/read-table/build
ffi/examples/visit-expression/build
/build
/kernel/target
/target

/benchmarks/data/workloads/
